.chart-wrapper {
  width: 100%;
  height: 420px; /* reducido para un tamaño más compacto */
  padding: 12px;
  box-sizing: border-box;
}

.chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}
