<header class="topbar">
  <div class="brand">
    <div class="logo-circle"></div>
    <div class="brand-text">MEDIH</div>
  </div>
  <nav class="topnav">
    <a>Inicio</a><a>Pacientes</a><a>Citas</a><a>Informes</a><a>Cerrar Sesión</a>
  </nav>
</header>

<main class="page">
  <section class="hero">
    <h1>Registro de Consulta Médica</h1>
    <p>Complete los detalles a continuación para registrar la consulta médica.</p>
    <div class="cta">
      <button class="btn-cta" (click)="$event.preventDefault()">Registre su consulta</button>
    </div>
  </section>

  <section class="content">
    <h2 class="section-title">Detalles de la Consulta</h2>

    <form class="form-right" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <label>Nombre de Paciente</label>
      <input name="idPaciente" [(ngModel)]="consulta.idPaciente" required type="number" placeholder="Escriba el nombre del paciente"/>

      <label>Doctor</label>
      <input name="idProfesional" [(ngModel)]="consulta.idProfesional" required type="number" placeholder="Escriba el nombre del doctor"/>

      <label>Fecha de la Consulta</label>
      <input name="fechaConsulta" [(ngModel)]="consulta.fechaConsulta" required type="date"/>

      <label>Diagnóstico</label>
      <!--<textarea name="diagnostico" [(ngModel)]="consulta.diagnosticos" required placeholder="Escriba el diagnóstico"></textarea>-->

      <label>Tratamiento</label>
      <!--<textarea name="tratamiento" [(ngModel)]="consulta.tratamiento" required placeholder="Escriba el tratamiento"></textarea>-->

      <div class="center">
        <button class="btn-submit" [disabled]="f.invalid">Guardar consulta</button>
      </div>
    </form>
  </section>
</main>

<footer class="footer">
  <div>© 2025 MEDIH. Todos los derechos reservados.</div>
</footer>
