<main class="menu-container">
  <h1>Menú Principal</h1>
  <p>Selecciona una opción para continuar</p>

  <div class="menu-grid">
    <button routerLink="/actualizar-alergias">Actualizar Alergias</button>
    <button routerLink="/cambio-contraseña">Cambio de Contraseña</button>
    <button routerLink="/editar">Editar Perfil</button>
    <button routerLink="/emitir-receta">Emitir Receta</button>
    <button routerLink="/historial-medico">historial Medico</button>
    <button routerLink="/listar-medicamentos">Listar Medicamentos</button>
    <button routerLink="/pacientes-atendidos">Pacientes Atendidos</button>
    <button routerLink="/registro-centro-medico">Registrar Centro Médico</button>
    <button routerLink="/registro-consulta">Registrar Consulta</button>
    <button routerLink="/registro-medicamento">Registrar Medicamento</button>
    <button routerLink="/registro-paciente">Registrar Paciente</button>
    <button routerLink="/app-registro-profesional">Registrar Profesional</button>
    <button routerLink="/reporte-centro-medico">Reporte Centro Médico</button>
    <button routerLink="/informes/reporte-especialidad">Reporte Especialidad</button>
  </div>
</main>
